.main{
    color:blue;
    font-family:KaiTi;
    font-size: 45px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 20px;
}
.main1{
    color:red;
    font-family:KaiTi;
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 30px;
}
input::-webkit-input-placeholder{
    color:blue;
    font-family:KaiTi;
    font-size: 30px;
}
#table1{
    width: 100%;
    height: 100%;
}
td{
    color:white;
    background-color: red;
    opacity: 0.5;
    border:0;
    height: 20%;
    font-family:KaiTi;
    font-size: 30px;
    padding-right: 30px;
}
th{
    height: 20%;
    color:white;
    font-family:KaiTi;
    font-size: 25px;
    background-color: blue;
    opacity: 0.5;
}
body,.found{
    position: absolute;
    background-image: url(../photo/bg.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
#found3{
    position: absolute;
    width: 60%;
    height: 50%;
    margin-left: 20%;
    margin-top: 15%;
}
.found0{
    top: 0%;
    margin:0 auto;
    width: 100%;
    height: 11%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    opacity: 0.7;
}
.found01{
    width: 6%;
    height: 100%;
}
.found02{
    width: 25%;
    height: 100%;
    background-color: azure;
    opacity: 0.3;
}
.found03{
    width: 45%;
    height: 100%;
    background-color: azure;
    opacity: 0.5;
}
.found04{
    width: 23%;
    height: 100%;
    background-color: azure;
    opacity: 0.3;
}

.found1{
    position: relative;
    margin: 0 auto;
    margin-top:10%;
    width:50%;
    height:30%;
}
.found2{
    width: 100%;
    height: 19%;
    margin: 12% 23% 0;
    opacity: 0.7;
}
.found12{
    position: relative;
    margin: 0 auto;
    margin-top:8%;
    width:50%;
    height:30%;
}
#input11{
    margin: 0 auto;
    width: 70%;
    height: 80%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: gray;
    opacity: 0.8;
    color: white;
    font-size: 30px;
}
.input12{
    margin: 0 auto;
    width: 70%;
    height: 50%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: gray;
    opacity: 0.8;
    color: white;
    font-size: 30px;
}
.button01{
    background-image: url(../photo/back.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    border: 0;
    background-repeat: no-repeat;
}
#button21{
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    color: white;
    font-family:KaiTi;
    font-size: 45px;
    text-align: center;
    letter-spacing: 20px;
    background-color: Royalblue;
    border-radius: 20px;
    border:gray 6px solid;
}
li.a{
    color:green;
    list-style-type: disc;
    color:green;
    font-family:KaiTi;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
}